fastapi
uuid
uvicorn
sqlalchemy
sqlalchemy2-stubs
alembic
pydantic
python-dotenv
alembic
psycopg2-binary
httpx
pytest
pytest-asyncio
pytest-cov
black
isort
mypy
pydantic[email]
pydantic_settings
passlib[argon2]
python-multipart